
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-left">
        <h2>Fazer Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="username" placeholder="Email..." required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Senha..." required>
            </div>
            <button type="submit" class="btn-login">Entrar</button>
        </form>
        <p class="register-link">
            Não possui uma conta? <a href="#">Cadastrar-se.</a>
        </p>
    </div>
    <div class="login-right">
        <img src="{% static 'admin/img/lateral branca 2.png' %}" alt="Logo" class="logo">
    </div>
</div>
{% endblock %}
